body {
    height:700px;
    margin: 0;
    background-color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    width:100%;
}

.search {
    width: 600px;
    display: flex;
    margin: 40px auto;
    border-radius: 20px;
}

input {
    margin-top: 5%;
    width: 70%;
    padding: 16px;
    font-size: 16px;
    color:black;
    border: none;
    background-color: #36353570;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

}

input:focus {
    outline: none;
    border: none;
}

.btn {
    border-color: blue;
    margin-top: 5%;
    margin-left: 2%;
    background-color:blue;
    color: white;
    width: 25%;
    font-size: 16px;
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    
}

.container {
    color: black; /* Text color for elements inside the container */
    width: 600px;
    height:700 px;
    margin: 60px auto;
    display: flex;
    gap: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#title {
    margin-top: 0;
    color:black; /* Heading color */
    font-weight: bold; /* Bold font for heading */
}

#poster {
    width: 80%;
     /* Light background color for the poster */
}
